<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TaskManager</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>
<body>
	<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
						<a class="navbar-brand" href="#">User navigation--></a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"/>
						</button>
						<div class="collapse navbar-collapse" id="navbarCollapse">
							<ul class="navbar-nav mr-auto">
								<li class="nav-item ">
									<a class="nav-link" href="/home">Home
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="/projects">My projects</a>
								</li>
								<li class="nav-item active">
									<a class="nav-link " href="/projects/add">Create project</a>
									<li class="nav-item">
										<a class="nav-link " href="/users/me">My profile</a>
										<li class="nav-item">
											<a class="nav-link " href="/logout">Logout</a>
										</li>
									</li>
								</li>
							</ul>
						</div>
					</nav>
	<div class="mx-auto" style="width: 550px;">
		<div class="alert alert-secondary" role="alert">
			<h1 style="color:blue">Register new Project</h1>
		</div>
		<form id="projectForm"
				th:action="@{/projects/add}"
				th:object="${projectForm}"
				method="POST">
		 <table class="table">
			<tr>
				<td><label for="projectNameInput"><p class="font-weight-bold"><h3>Project Name</h3></p></label>
				<td><h3><input id="projectNameInput" type="text" placeholder="NAME" required th:field="*{name}"/></h3></td>
				<td th:if="${#fields.hasErrors('name')}" th:errors="*{name}" th:style="'color:red'"></td>
			</tr>
			<tr>
				<td><label for="descriptionInput"><p class="font-weight-bold"><h3>Description</h3></p></label></td>
				<td><h3><input id="descriptionInput" placeholder="DESCRIPTION" th:field="*{description}"/></h3></td>
				<td th:if="${#fields.hasErrors('description')}" th:errors="$*{description}" th:style="'color:red'"></td>
			</tr>
			<tr>
				<td><button type="submit"><h4>Register</h4></button></td>
			</tr>
		</table>	
		<h3><a href="/projects" style="color:red">Back</a></h3>
		<h4><a href="/home" style="color:red">Home page</a></h4>

		</form>
	</div>
</body>
</html>