<!DOCTYPE html>
	<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
		<head>
			<!-- Required meta tags -->
			<meta charset="utf-8">
				<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
					<!-- Bootstrap CSS -->
					<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
						<title>TaskManager</title>
						<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
						</head>
						<body>
							<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
								<a class="navbar-brand" href="#">User navigation--></a>
								<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
									<span class="navbar-toggler-icon"/>
								</button>
								<div class="collapse navbar-collapse" id="navbarCollapse">
									<ul class="navbar-nav mr-auto">
										<li class="nav-item active">
											<a class="nav-link" href="/home">Home
												<span class="sr-only">(current)</span>
											</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" href="/projects">My projects</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" href="/projects/add">Create project</a>
											<li class="nav-item">
												<a class="nav-link" href="/users/me">My profile</a>
												<li class="nav-item">
													<a class="nav-link" href="/logout">Logout</a>
												</li>
											</ul>
										</div>
									</nav>
									<span class="align-middle">
									<a class="btn btn-secondary btn-lg btn-block" href="/projects" role="button">View my projects</a>
									<a class="btn btn-primary btn-lg btn-block" href="/projects/add" role="button">Create a new project</a>
									<a class="btn btn-success btn-lg btn-block" href="/users/me" role="button">View my profile</a>
									</span>
									<img src="https://lh3.googleusercontent.com/proxy/O91c2I2VDOlO16dZup07XfYJpyK1Reo1vVxuWLvqdk_eSxXF5i8pSqyL41LyEQhjPK8ilAaEDnQYhkPPVIQkDJmCL3mdmohGhOcjXy6ycYpVa98l" class="rounded mx-auto d-block" alt="...">
									<!-- Optional JavaScript -->
									<!-- jQuery first, then Popper.js, then Bootstrap JS -->
									<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"/>
									<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"/>
									<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"/>
								</body>
							</html>